<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.demo.db.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="org.example.demo.db.entity.Address">
    <id column="address_id" jdbcType="BIGINT" property="addressId" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, addr, postcode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_addresses
    where address_id = #{addressId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_addresses
    where address_id = #{addressId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.example.demo.db.entity.Address">
    <selectKey keyProperty="addressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_addresses (addr, postcode)
    values (#{addr,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.example.demo.db.entity.Address">
    <selectKey keyProperty="addressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_addresses
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addr != null">
        addr,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.demo.db.entity.Address">
    update t_addresses
    <set>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.demo.db.entity.Address">
    update t_addresses
    set addr = #{addr,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=BIGINT}
  </update>
</mapper>