<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.demo.db.mapper.UserMapper">
    <resultMap id="UserDtoResult" type="org.example.demo.api.dto.UserDto">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <collection property="addresses" ofType="org.example.demo.api.dto.AddressDto"
                     select="org.example.demo.db.mapper.AddressMapper.queryAddressByUserId"
                     column="user_id" fetchType="eager">
            <id column="address_id" jdbcType="BIGINT" property="addressId"/>
            <result column="addr" jdbcType="VARCHAR" property="addr" />
            <result column="postcode" jdbcType="VARCHAR" property="postcode" />
        </collection>
    </resultMap>

    <select id="selectUserWithAddressByUserId" resultMap="UserDtoResult">
        SELECT u.user_id,u.user_name,u.birthday,u.email,ad.address_id, ad.addr,ad.postcode
        FROM t_users u
        JOIN t_users_addresses ua ON u.user_id=ua.user_id
        JOIN t_addresses ad ON ua.address_id=ad.address_id
        WHERE u.user_id=#{userId}
    </select>

    <select id="queryUserByParam" resultMap="UserDtoResult" parameterType="hashmap">
        SELECT u.user_id,u.user_name,u.birthday,u.email
        FROM t_users u
        <trim prefix="WHERE" suffixOverrides="and">
            <if test="userName != null">
                u.user_name LIKE CONCAT('%', #{userName},'%') and
            </if>
            <if test="email != null">
                u.email = #{email} and
            </if>
        </trim>
    </select>
</mapper>